<div id="product-section" class="container-fluid">
    <div class="row">
        <div id="responsiveTabs" class="col-lg-12 col-md-12 product-container" role="tabpanel">
            <ul class="product-menu tablist">
                <h1 class="header-title">LOUVERS</h1>
                {% assign sortedProductMenu =  page.productMenu | sort:"id" %}
                {% for productMenu in sortedProductMenu %}
                <li href="#shutter-product"{% if productMenu.id == 1 %}  class="navbar-item active" {% endif %} class="navbar-item" role="presentation">
                    <a href="#{{ productMenu.slugLink }}" aria-controls="{{ productMenu.slugLink }}" role="tab" data-toggle="tab">{{ productMenu.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="section-container container">
                <h4 class="mobile-product-title">LOUVERS</h4>
                {% assign sortedProductTab = page.product | sort:"id" %}
                {% for product in sortedProductTab %}
                <div id="{{ product.category }}">
                    <div class="product-left col-lg-6 col-md-6">
                        <span class="zoom image-1">
                            <img class="product-image center-block" src="{{ product.image }}"/>
                        </span>
                    </div>

                    <div class="product-right col-lg-6 col-md-6">
                        <div class="product-title">
                            <h1>{{ product.title }}</h1>
                        </div>
                        <div class="product-view">
                            <!--<h4>Other Images</h4>-->
                            <div class="row-lg-6 row-sm-6">
                                <span class="image-2" style="display: block;">
                                    <img class="product-sample-image" src="{{ product.imgOne }}"/>
                                </span>
                            </div>
                            <div class="row-lg-6 row-sm-6">
                                <span class="image-3" style="display: block;">
                                    <img class="product-sample-image" src="{{ product.imgTwo }}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>