<div id="product-floodgate">
    <div class="container-fluid product-container">
        <ul class="product-menu">
            <h1 class="header-title">{{ page.productTitle }}</h1>
            {% for productMenu in page.productMenu %}
            <li class="navbar-item hidden-xs">
                <a href="#{{ productMenu.url }}">{{ productMenu.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product-left-container">
            <div class="flexslider">
                <ul class="slides">
                    {% assign sortedSliderImage = page.productSlider | sort:"id" %}
                    {% for sliderImage in sortedSliderImage %}
                    <li class="slider-item" data-thumb="{{ sliderImage.image }}">
                        <img src="{{ sliderImage.image }}" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product-right-container">
            <h3 id="product-title">{{ page.bigTitle }} <span id="product-title-small">{{ page.smallTitle }}</span></h3>
            <h4 class="product-certified"> {{ page.certified }} </h4>
            {% for productDescription in page.productDescription %}
            <p class="product-description">{{ productDescription.description }}</p>
            {% endfor %}
        </div>
    </div>
</div>


