<div id="footer">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-md-3 col-sm-12">
        <img id="footer-logo" class="img-responsive center-block" src="/images/footer-logo.png"/>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <span>
          <i class="fa fa-envelope"></i> foxconn.builders@yahoo.com
        </span>
      </div>
      <div class="col-md-2 col-sm-4 text-center">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        <span id="footer-contact">
          (63)2 441-5303 <br>
          (63)2 441-5304
        </span>
      </div>
      <div class="col-md-3 col-sm-4 text-center">
        <span>
          <i class="fa fa-facebook-square"></i> Like us on facebook
        </span>
      </div>
    </div>
  </div>
</div>