@import "navigation-bar"
@import "footer"

body
  padding-top: 81px
  font-family: "Neue-Frutiger-Book", "Helvetica Neue", Helvetica, Arial, sans-serif

@media (min-width: $screen-md-min)
  .vertical-align
    display: flex
    flex-direction: row
    >
    [class^="col-"], [class*=" col-"]
      display: flex
      align-items: center
      justify-content: center

@media (max-width: $screen-md-max)
  .vertical-align
    [class^="col-"], [class*=" col-"]
      display: flex
      align-items: center
      justify-content: center

.center-container
  height: 100%
  text-align: center
  &:before
    content: ''
    height: 100%
    display: inline-block
    vertical-align: middle
  .center-content
    display: inline-block
    vertical-align: middle
