#footer
  position: absolute
  bottom: 0
  color: #ffffff
  background-color: #4a4a4a
  height: 60px
  width: 100%
  .container
    position: relative
    top: 50%
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    width: 100% !important
    padding: 0
    .copyright
      display: block
      text-align: center
      font-family: 'Neue-Frutiger-Light'

@media (max-width: 568px)
  #footer
    .container
      .copyright
        font-size: 11.5px