#footer
  color: #ffffff
  background-color: #4a4a4a
  #footer-contact
    padding-left: 1em

@media (min-width: $screen-md-min)
  #footer
    height: 60px
    .container
      height: 100%
      .row
        height: 100%

@media (max-width: $screen-md-max)
  #footer
    [class*="col-"]
      padding: 5px 5px
    #footer-logo
      height: 25px