#product-list
  .row
    margin: 0
  [class^="col-"], [class*=" col-"]
    padding: 0
.product
  height: 100%
  background-size: cover
  background-position: center
  .center-content
    z-index: 1
    position: relative
    top: 50%
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    .brand-image
      height: 65px
      margin: 0 auto
    .product-description
      max-width: 59%
      color: white
      text-align: center
      margin: 20px auto
      font-size: 1.2em

.overlay
  top: 0
  width: 100%
  height: 100%
  position: absolute
  background: -webkit-linear-gradient(#C8CB6C, #F76B1C) /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#C8CB6C, #F76B1C) /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#C8CB6C, #F76B1C) /* For Firefox 3.6 to 15 */
  background: linear-gradient(#C8CB6C, #F76B1C) /* Standard syntax (must be last) */
  opacity: 0.8

.product
  .product-link
    text-decoration: none
    position: absolute
    height: 100%
    width: 100%
    background-color: rgba(58,52,42,0.7)
    top: 0
    transition: background-color 500ms ease
    &:hover
      background-color: rgba(58,52,42,0.3)
    .center-content
      .product-title
        z-index: 1
        color: #ffffff
        text-align: center

@media (max-width: 568px)
  .product
    .center-content
      height: 50px
      .brand-image
        height: 55px
      .product-description
        display: none
        font-size: 1.1em
        max-width: 90% !important
