body
  margin: 80px 0 60px !important

#contact-section
  #contact-map-container
    .contact-banner
      height: 50px
      background-color: #FB942B
      width: 100%
      .header-title
        margin: 0
        text-align: center
        color: white
        font-size: 1.2em
        font-family: 'Neue-Frutiger-Heavy'
        position: relative
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
    #gmap_canvas
      height: 56vh !important
      width: 100%

  .contact-container
    .contact-banner
      height: 50px
      background-color: #FB942B
      width: 100%
      .header-title
        padding-left: 65px
        color: white
        margin: 0
        font-size: 1.2em
        font-family: 'Neue-Frutiger-Heavy'
        position: relative
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
    .contact-content
      list-style: none
      padding: 0
      .contact-list
        text-align: center
        .contact-item-icon
          color: #23527c
          font-size: 25px
          margin: 5% 0
        .contact-item
          color: #23527c
          display: block

@media (min-width: 1441px)
  #contact-section
    #contact-map-container
      #gmap_canvas
        height: 70vh !important

@media (max-width: 1280px) and (max-height: 800px)
  #contact-section
    #contact-map-container
      #gmap_canvas
        height: 63vh !important

@media (max-width: $screen-sm-max)
  #contact-section
    #contact-map-container
      #gmap_canvas
        height: 62vh !important
    .contact-container
      .contact-content
        .contact-list
          .contact-item-icon
            display: block
          .contact-item
            display: inline-block
            margin: 0 2%

@media (max-width: 600px)
  #contact-section
    .contact-container
      .contact-content
        .contact-list
          width: 100% !important
          .contact-item
            display: block
            margin: 0 2%

@media (max-width: 320px)
