<div id="product-fire-section" class="container-fluid">
    <div class="row">
        <div id="responsiveTabs" class="col-lg-12 col-md-12 product-container" role="tabpanel">
            <ul class="product-menu tablist">
                <h1 class="header-title">{{ page.productCategoryName }}</h1>
                {% assign tier1 =  page.tier1 | sort:"id" %}
                {% for tier1Items in tier1 %}
                    <li class="navbar-item" role="presentation">
                        <a href="#{{ tier1Items.slug }}" aria-controls="{{ tier1Items.slug }}" role="tab" data-toggle="tab">{{ tier1Items.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            {% assign index =  0  %}
            {% for tier1Items in tier1 %}
            <div id="{{ tier1Items.slug }}" class="tier-2">
                <ul class="product-menu center-container droptabs">
                    {% for product in tier1Items.products %}
                        <li class="navbar-item" role="presentation">
                            <a href="#{{ product.slug }}" aria-controls="{{ product.slug }}" role="tab" data-toggle="tab">{{ product.name }}</a>
                        </li>
                    {% endfor %}
                    <!--<li class="navbar-item dropdown pull-right">-->
                        <!--<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">-->
                            <!--<li class="always-dropdown"><a href="#settings4" data-toggle="tab">Always in dropdown</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
                {% for product in tier1Items.products %}
                    <div id="{{ product.slug }}">
                        <div class="container">
                            <div class="row each-gallery col-md-6 col-sm-12 col-xs-12">
                                <div class="product-hero center-container">
                                    <div id="gallery" class="content">
                                        <!--<div id="controls" class="controls"></div>-->
                                        <div class="slideshow-container">
                                            <div id="loading{{ index }}" class="loader"></div>
                                            <div id="slideshow{{ index }}" class="slideshow"></div>
                                        </div>
                                        <!--<div id="caption{{ index }}" class="caption-container"></div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row product-thumbnail col-md-6 col-sm-12 col-xs-12 center-container">
                                <h1>FIRE-RATED <span class="small">Doors</span> </h1>
                                <h3>{{ product.name | upcase }}</h3>
                                <div id="thumbs{{ index }}" class="navigation">
                                    <ul class="thumbs noscript">
                                        {% for pattern in product.patterns %}
                                        <li>
                                            <a class="thumb" href="{{ pattern.fullsize }}" title="Title #0">
                                                <img src="http://res.cloudinary.com/foxconn/image/fetch/c_crop,g_center,h_48,w_48/{{ pattern.thumbnail }}" alt="Title #0" />
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% assign index=index | plus:1 %}
                {% endfor %}

            </div>
            {% endfor %}
        </div>
    </div>
</div>