<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
    {% include navigation-bar.html %}
    {{ content }}
    {% include footer.html %}
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function() {
            var productList = $('#product-list');
            var outerHeight = resizeProducts();
            productList.find('.outer').height(outerHeight);

            $(window).on('resize', function(e) {
                resizeProducts();
            });

            function resizeProducts(){
//                outerHeight = ($(window).height() - ($('nav').outerHeight() + $('#footer').outerHeight()) - (productList.outerHeight() - productList.find('.row').outerHeight()));
                outerHeight = ($(window).height() - ($('nav').outerHeight()) - (productList.outerHeight() - productList.find('.row').outerHeight()));
                productList.find('.outer').height(outerHeight);
                productList.find('.left .row').first().height(outerHeight * 0.60);
                productList.find('.left .row').last().height(outerHeight * 0.40);
                productList.find('.right .row').height(outerHeight / 2);
            }
        });
    </script>
    </body>
</html>