<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    {% if page.url == "/product/shutter/" %}
        <link rel="stylesheet" href="/css/responsive-tabs.css">
    {% endif %}

    {% if page.url == "/product/floodgate/" %}
        <link rel="stylesheet" href="/css/flexslider.css">
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
<body>
{% include navbar.html %}
{% include product/cover.html %}
<!--for product shutter-->
{% if page.url == "/product/shutter/" %}
    {% include product/shutter/product.html %}
    {% include product/video-top.html %}
    {% include product/feature.html %}
    {% include product/video-bottom.html %}
{% endif %}

<!--for product floodgate-->
{% if page.url == "/product/floodgate/" %}
    {% include product/floodgate/product.html %}
    {% include product/feature.html %}
{% endif %}


{% include footer.html %}

<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jPushMenu.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/product.js"></script>

{% if page.url == "/product/floodgate/" %}
    <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails",
                prevText: " ",
                nextText: " ",
                touch: true
            });
        });
    </script>
{% endif %}

{% if page.url == "/product/shutter/" %}
    <script type="text/javascript" src="/js/jquery.responsiveTabs.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#responsiveTabs').responsiveTabs({
                startCollapsed: 'true',
                animation: 'slide'
            });
        });
    </script>
{% endif %}

<script type="text/javascript">
    $(document).ready(function(){
        $('.toggle-menu').jPushMenu({closeOnClickLink: false});
        $('.dropdown-toggle').dropdown();
    });
</script>
</body>
</html>