<div id="video-bottom-section" class="video-section">
    <div class="container-fluid">
        <div class="row">
            <div class="video-container">
                <div id="video-menu-container">
                    <img id="video-image" src="http://res.cloudinary.com/dqprvzepv/image/upload/v1445012517/assets/ShutterCover.jpg"/>
                    <img id="video-bottom-button" class="center-block" src="http://res.cloudinary.com/dqprvzepv/image/upload/v1444994189/assets/play-button.png" title="Play"/>
                </div>
            </div>
        </div>
    </div>
</div>
